*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgrey;
    animation: color 10s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
@keyframes color {
    10%{
        background-color: red;
    }
    30%{
        background-color: yellow;
    }
    60%{
        background-color: green;
    }
    90%{
        background-color: blue;
    }
    100%{
        background-color: chartreuse;
    }
}
h3{
    text-align: center;
    font-size: 3rem;
    text-shadow: 10px 10px 10px 0.3;
}